.message:hover button {
    opacity: 1;
  }
  .height-manager {
  height: calc(var(--app-height) * 100);
}

/* On larger screens, use 100vh directly */
@media (min-width: 1024px) {
  .height-manager {
    height: 100vh;
  }
}
.deleteButton {
    padding: 5px;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    margin: 10px;
    transition: all 0.1s ease-in-out;
  }
  .copyButton {
    padding: 5px;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 10px;
    transition: all 0.1s ease-in-out;
  }
  .file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .file-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Adjust the gap as needed */
    color: #FFF;
    /* Additional styling to make the label visually appealing */
  }

  /* Hover and active states for the label */
  .file-label:hover, .file-label:active {
    background-color: #696d85; /* Replace with your hover color */
    cursor: pointer;
  }
  .file-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* You can adjust or remove the gap, depending on your icon and design */
    /* Ensure your button is appropriately sized for your icon */
  }

  .upload-icon {
    width: 24px; /* Adjust based on your icon's size */
    height: auto; }
    .fileCount {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 40px; /* Diameter of the circle */
      height: 40px; /* Diameter of the circle */
      border: 2px solid white; /* Border color and width of the circle */
      border-radius: 50%; /* Makes the element a circle */
      background-color: transparent; /* Transparent background */
      color: white; /* Text color */
      font-size: 16px; /* Adjust based on your design */
    }